<!DOCTYPE html>
<html lang="en">
<head>
  <%= include('../views/partials/header'); %>
</head>
<body>
  <a  class="bold" href="/">Home</a>
 <%= title %>
  <a href="../skills/create.ejs">Add New Skill</a>
</body>