<!DOCTYPE html>
<html>
  <head>
    <%- include('../views/partials/header');  %>
    <title><%= title %></title>
  </head>
  <body>
    <p>Welcome to <%= title %></p>
    <a href="./skills/">View All Skills</a>
  </body>
</html>
