<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<h3>To-dos as of <%= time %></h3>
  <ul>
    <% todos.forEach(function(todo) { %>
      <li>
        <a href="/todos/<%= todo.id %>">
          <%= todo.todo %>
        </a>
      </li>
      <% }); %>
  </ul>
</body>

</html>