<%- include('.../partials/header') %>

    <form action="../todos/" method="POST">
        <input type="text" name="todo" id="">
        <button type="submit">Save Todo</button>
    </form>

    <%- include('../partials/footer') %>